*{
    margin: 0px;
    padding: 0;
}
body{
    margin-top: 50px;
    background-color: rgb(0, 0, 59);
    color: rgb(122, 122, 192);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    place-items: center;
    
}
img{
    background-color:rgba(255, 255, 255, 0.288);
    border-radius: 60px;
}
h2{
    margin: 10px;
    padding: 5px;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(173, 173, 226);
    text-align: center;
    text-justify: auto;
    margin: 25px;
    background-color:rgba(255, 255, 255, 0.288);
    border-radius: 25px;
    padding: 10px;
    
}
ul{
  margin: 10px;
  padding:8px;
  list-style: none;
}
.lista{
    background-color: rgb(173, 173, 226);
}
a{
    color: rgb(173, 173, 226);
    text-decoration: none;
}
a:hover{
    color: rgb(1, 216, 205);
}